<ng-tamplate *ngFor="let user of userArr">
  <p class="blockquote mt-3">Detail of tanent <b> {{user.data.name}}</b> </p>
</ng-tamplate>
<ng-tamplate *ngFor="let user of userArr">
  <div class="card">
    <div class="card-header">
      {{user.data.name}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{user.data.floor}}</p>
        <footer class="blockquote-footer"> <cite title="Source Title">{{user.data.address}}</cite></footer>
      </blockquote>
    </div>
    <app-table></app-table>
  </div>
</ng-tamplate>