.card{
    margin: 15px;
 }

 .fa-user:before,.fa-home:before {
    padding-right: 15px;
}

.blockquote-footer {
    padding-top: 10px;
    margin-left: 20px;
}
table > thead {
    vertical-align: bottom;
    background: #1a1a46;
    color: white;
}

.btn-primary, .btn-success {
    margin: 10px;
}

.mt-3 {
    margin-top: 1rem !important;
    margin-left: 2rem;
    font-weight: 700;
}
