main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    background-size: 250px 200px; /* Height: auto is to keep aspect ratio */
    background-repeat: repeat;
    position: absolute;
    top: 0;
    /* opacity: 0.3; */
  }
 .container {
   margin-top: 100px;
   width: 500px;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
     inset 0 1px rgba(255, 255, 255, 1), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   /* background: linear-gradient(#eeefef, #ffffff 10%); */
   opacity: 1;
 }
 
 /* style the container */
 .container {
   position: relative;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px 0 30px 0;
 }
 
 /* style inputs and link buttons */
 input{
   width: 100%;
   padding: 12px;
   border: none;
   border-radius: 4px;
   margin: 5px 0;
   opacity: 0.85;
   display: inline-block;
   font-size: 17px;
   line-height: 20px;
   text-decoration: none; /* remove underline from anchors */
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
     inset 0 3px 2px rgba(0, 0, 0, 0.1);
   border-radius: 3px;
   background: #f9f9f9;
   color: rgb(63, 63, 63);
   transition: color 0.3s ease-out;
 }
 
 .btn{
   width: 100%;
   padding: 12px;
   border: none;
   border-radius: 4px;
   margin: 5px 0;
   opacity: 0.85;
   display: inline-block;
   font-size: 17px;
   line-height: 20px;
   text-decoration: none; /* remove underline from anchors */
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
     inset 0 3px 2px rgba(0, 0, 0, 0.1);
   border-radius: 3px;
   background-color: rgb(34, 160, 238);
   transition: color 0.3s ease-out;
 }
 /* Two-column layout */
 .col {
   float: left;
   width: 100%;
   margin: auto;
   padding: 0 50px;
   margin-top: 6px;
 }
 
 /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 650px) {
   .col {
     width: 90%;
     margin-top: 0;
   }
 }

 .google{
   background-color: orangered;
   color: white;
 }