main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/favicon.ico) lightblue;
  background-size:  50px 45px; /* Height: auto is to keep aspect ratio */
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  /* opacity: 0.3; */
}
.container {
  position: relative;
  border-radius: 5px;

  padding: 20px 0 30px 0;
  margin-top: 100px;
  width: 500px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgb(52 52 53 / 84%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* style inputs and link buttons */
input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
    inset 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: rgb(63, 63, 63);
  transition: color 0.3s ease-out;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
    inset 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgb(34, 160, 238);
  transition: color 0.3s ease-out;
}
/* Two-column layout */
.col {
  float: left;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 90%;
    margin-top: 0;
  }
  .container {
    margin: 10px;
  }
}

.google {
  background-color: orangered;
  color: white;
}
